body {
  margin: 0px;
  color: white;
}

html {
  background-image: url(winter-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.profile-img {
  clip-path: circle();
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

nav {
  display: flex;
  margin-bottom: 50px;
  background-color: #2d3943;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

#main-profile {
  background-color: #5198d2;
}

#about-me {
  background-color: #406d91;
}

#hobbies {
  background-color: #041320;
}

#projects {
  background-color:#2d3943;
}

#main-profile,
#about-me,
#hobbies,
#projects {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  padding: 50px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 20px;  
  padding-bottom: 20px;
}

.elem {
  padding: 30px;
}

.proj-img {
  max-width: 500px;
}